/* App.css */
.app-container {
    text-align: center;
  }
  
  .cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 600px;
    /* height: 100%; */
    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 1000;
    /* padding: 20px; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 992px) {
    .cart-container {
      width: 100%;
    }
  }
  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-body {
    max-height: calc(100vh - 80px);
    overflow-y: auto; 
  }
  
  
  .cart-items {
    margin-top: 20px;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  
  .cart-summary {
    margin-top: 20px;
    text-align: left;
  }

  /* .cart-items {
    max-height: 50vh;
    overflow-y: auto;
  }
  
  .apply-discount {
    margin-top: 20px;
  }
  
  .totals {
    margin-top: 20px;
  } */
  