.card-hover {
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
    height: 200px; /* Set a fixed height */
    width: 100%; /* Make the image fill the available width */
    object-fit: contain; /* Maintain the aspect ratio and fit within the container */
  }
